# Environment variable example file
# rename file to .env.[environment], e.g. ".env.dev"

APP_PORT = 8081
JWT_SECRET = "secret"
SALT_ROUNDS = 10

CERBERUS_HOST = "host.docker.internal"
CERBERUS_PORT = "8080"
CERBERUS_API_KEY = "[YOUR CERBERUS API KEY]"
CERBERUS_API_SECRET = "[YOUR CERBERUS API SECRET]"